@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

blockquote.card{
	text-align: center;
}

blockquote.card p:last-child{
	text-align: right;
}

blockquote.envelope{
	text-align: center;
}

blockquote.envelope p:first-child{
	text-indent: 2em;
}

blockquote.envelope p:second-child{
	text-align: normal;
}

footer{
	text-align: right;
	margin-top: 1em;
}

.signature{
	font-variant: small-caps;
}