@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

#chapter-23 blockquote:first-of-type,
#chapter-6 blockquote:first-of-type{
	text-align: center;
}

#chapter-23 blockquote:first-of-type p:last-child{
	text-align: right;
}

#chapter-6 blockquote:first-of-type p:nth-child(2){
	text-indent: 5em;
}

#chapter-6 blockquote:first-of-type p:nth-child(3){
	margin-top: 1em;
	text-indent: -6em;
}

#chapter-6 blockquote:first-of-type p:last-child{
	text-indent: 6em;
}

footer{
	text-align: right;
	margin-top: 1em;
}

.signature{
	font-variant: small-caps;
}

#chapter-25 p:last-child{
	font-style: italic;
	margin: 1em;
	text-align: center;
	text-indent: 0;
}
